<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="college_management_system.Properties.Settings.college_management_systemConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=Laguna_101;database=college_management_system"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>